<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties resource="jdbc.properties"></properties>
<settings>
<setting name="lazyLoadingEnabled" value="true"/>
<setting name="aggressiveLazyLoading" value="false"/>
</settings>
<typeAliases>
<package name="com.wx.web.bean"/><!-- 包起别名 -->
<!-- <typeAlias type="com.oracle.mapper.WorkerMapper"/>类起别名 -->
</typeAliases>
 	<plugins>  
 	    <!-- com.github.pagehelper为PageHelper类所在包名 -->  
     <plugin interceptor="com.github.pagehelper.PageInterceptor">  
 	        <!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->  
 	        <property name="param1" value="value1"/>  
     </plugin>  
 	</plugins>  

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.userName}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
  <!-- 引入映射文件 -->
   <!--  <mapper resource="com/oracle/mapper/WorkerMapper.xml"/>
    <mapper class="com.oracle.mapper.WorkerMapperAnno"/> -->
    <package name="com.wx.web.mapper"/><!-- 将这个包所有mapper都映射进来 -->
  </mappers>
</configuration>